@model EasyMission.Domaine.service
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
   <!-- body-content -->
<div class="body-content clearfix">

    <div class="bg-color2 block-section line-bottom">
        <div class="container">
            <h1 class="text-center no-margin"></h1>
        </div>
    </div>

    <div class="bg-color1 block-section sline-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">

                    <!-- form post a job -->
                    <form action="/Service/getHighDemandedServicesAffiche">
                      

                        <div class="form-group">
                            <label>Category</label>
                            <input type="text" class="form-control " name="category" placeholder="Enter Valeur Payment">
                        </div>






                        <div class="form-group ">
                            <button class="btn btn-t-primary btn-theme">Continue</button>
                        </div>


                    </form> <!-- end form post a job -->
                </div>
            </div>
        </div>
    </div>
</div><!--end body-content -->